@{
  Layout = "_Layout";
}

<div class="container-content label">
  <h1>Count a Word in a Sentence</h1>
  <h4>Enter a sentence and a word to locate in that sentence and display the number of times that word occurs in the sentence:</h4>

  <form action="/wordcounters" method="post">
    <label class="label" for="mySentence">Sentence:</label>
    <input id="mySentence" name="mySentence" type="text">
    <label class="label" for="myWord">Word:</label>
    <input id="myWord" name="myWord" type="text">
    <br>
    <br>
    <button type="submit" class="btn-submit">Show the Count</button>
  </form>

  <div>
    <br>
    <p><a class="link" href="/">Start Over</a></p>
    <p><a class="link" href="/wordcounters/new">Play again</a></p>
    <p><a class="link" href="/wordcounters">Show my games</a></p>
  </div>
</div>
