<h1>Count a word in a sentence</h1>
<p>Enter a sentence and a word to locate in that sentence and display the number of times that word occurs in the sentence</p>

<form action="/wordcounters" method="post">
  <label for="mySentence">Sentence:</label>
  <input id="mySentence" name="mySentence" type="text">
  <label for="myWord">Word:</label>
  <input id="myWord" name="myWord" type="text">
  <button type="submit">Show Count</button>
</form>

<p><a href="/">Start Over</a></p>
<p><a href="/wordcounters/new">Play again.</a></p>
<p><a href="/wordcounters">Show my games.</a></p>
