<h1>Count a word in a sentence</h1>
<p>Enter a sentence and a word to locate in that sentence and display the number of times that word occurs in the sentence</p>

<form action="/wordcounter" method="post">
  <label for="sentence">Sentence:</label>
  <input id="sentence" name="sentence" type="text">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Count</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/wordcounter">Play again.</a></p>
